:root {
    --blue: #0075BF;
    --light-blue: rgb(40, 189, 220);
    --black: rgb(37, 35, 45);
    --dark-blue: #1A3A5B;
    --white: rgb(255, 255, 255);
    --opacity-blue: #79A0D5;
    --gray: rgb(245, 245, 245);
    --dark-green: #1A3A5B;
    --green: rgb(11, 201, 30);
}


$xl-bp: 1024px;
$sm-bp: 500px;


