.main-title-block {
    display: flex;
    justify-content: space-between;

    @include breakpoint($xl-bp) {
        flex-direction: column;
        gap: 4rem;
    }

}

.main-title-block__content {
    width: 40%;

    @include breakpoint($xl-bp) {
        width: 100%;
    }


    div {
        display: flex;
        align-items: center;
        gap: 1rem;

        p {
            color: var(--black);
            font-size: 2.4rem;
            font-weight: 500;
            line-height: 3rem;
            letter-spacing: 0%;

            @include breakpoint($sm-bp) {
                font-size: 1.6rem;
                line-height: 2rem;
            }
        }

        svg {
            width: 10.4rem;
            height: 2rem;
        }
    }

    h1 {
        color: var(--black);
        font-family: Radiotechnika;
        font-size: 48px;
        font-weight: 400;
        line-height: 135%;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 4rem;

        @include breakpoint($sm-bp) {
            font-size: 2.2rem;
            line-height: 135%;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2.7rem;
        margin-top: 4rem;

        @include breakpoint($sm-bp) {
            margin-top: 3rem;
            gap: 2rem;
        }

        li {
            display: flex;
            align-items: center;
            gap: 1rem;
            color: var(--black);
            font-size: 2.4rem;
            font-weight: 300;
            line-height: 3rem;
            letter-spacing: 0%;
            position: relative;

            @include breakpoint($sm-bp) {
                font-size: 1.6rem;
                line-height: 2rem;
            }

            div {
                width: 1.8rem;
                height: 1.8rem;
                background: var(--light-blue);
                border-radius: 50%;
            }

            span {
                height: 5rem;
                background: var(--light-blue);
                width: 0.2rem;
                position: absolute;
                top: 2rem;
                left: 0.8rem;

                @include breakpoint($sm-bp) {
                    top: 1rem;
                    height: 3rem;
                }
            }
        }
    }

    a {
        margin-top: 5.6rem;

        @include breakpoint($sm-bp) {
            margin-top: 3.2rem;
        }
    }
}

.main-title-block__img {
    width: 60%;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);

    @include breakpoint($xl-bp) {
        width: 100%;
        clip-path: unset;
    }

    @include breakpoint($sm-bp) {
        border-radius: 1rem;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
}