.next-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--black);
    font-size: 2.8rem;
    font-weight: 200;
    line-height: 3.5rem;
    letter-spacing: 0%;
    text-align: left;

    div {
        background: var(--light-blue);
        width: 5rem;
        height: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        svg {
            width: 1rem;
            height: 2rem;
            stroke: var(--white);
        }
    }
}