<header class="header page-padding">

    <ul>
        <li>
            <a href="#" class="header-logo">
                <svg>
                    <use href="#logo"></use>
                </svg>
            </a>
        </li>

        <li>
            <a href="#">
                Главная
            </a>
        </li>
        <li>
            <a href="#">
                Каталог
            </a>
        </li>

        <li>
            <a href="#">
                BYD
            </a>
        </li>

        <li>
            <a href="#">
                Зарядка и аксессуары
            </a>
        </li>

        <li>
            <a href="#">
                Контакты
            </a>
        </li>
    </ul>


    <ul class="header-contacts">
        <li>
            <a href="#">
                <svg>
                    <use href="#graph"></use>
                </svg>
                <span>1</span>
            </a>
        </li>

        <li>
            <a href="#">
                <svg>
                    <use href="#vk"></use>
                </svg>
            </a>
        </li>

        <li>
            <a href="#">
                <svg>
                    <use href="#tg"></use>
                </svg>
            </a>
        </li>

        <li>
            <a href="#">
                <svg>
                    <use href="#fb"></use>
                </svg>
            </a>
        </li>

        <li>
            <a href="tel:8 (812) 922 77 60">
                8 (812) 922 77 60
            </a>
        </li>

        <li>
            <button>
                <svg>
                    <use href="#burger"></use>
                </svg>
            </button>
        </li>
    </ul>
</header>